Repository equinor/fusion-workspace, changes with the labels that .github/labeler.yml gives for each.
All labels: githubActions, docs, filter, sidesheet, garden, ag-grid, data-source, power-bi, deps, nx-config, jest

add error handling to dataSource controller
  packages/data-source/src/lib/classes/dataSourceController.ts
Labels: data-source

add support for subscribing to errors
  packages/data-source/src/lib/classes/dataSourceController.ts
  packages/data-source/src/lib/types/events.ts
Labels: data-source

added error callback test
  packages/data-source/src/lib/classes/dataSourceController.ts
  packages/data-source/src/lib/test/onError.spec.ts
Labels: data-source

Fusion specific selectors does not belong in the react-wrapper
  documentation/WorkspaceReactWrapper.md
Labels: docs

fix typos
  documentation/WorkspaceController.md
Labels: docs

workspace controller docs
  documentation/WorkspaceController.md
Labels: docs

add path directory to tsconfig
  tsconfig.base.json
Labels: none

rewrite workspace controller to a js class
  packages/workspace-core/src/lib/controllers/workspaceController.spec.ts
  packages/workspace-core/src/lib/controllers/workspaceController.ts
  packages/workspace-core/src/lib/functions/addCallback.ts
  packages/workspace-core/src/lib/functions/addController.spec.ts
  packages/workspace-core/src/lib/functions/addController.ts
  packages/workspace-core/src/lib/functions/click.spec.ts
  packages/workspace-core/src/lib/functions/click.ts
  packages/workspace-core/src/lib/functions/context.spec.ts
  packages/workspace-core/src/lib/functions/context.ts
  packages/workspace-core/src/lib/functions/data.spec.ts
  packages/workspace-core/src/lib/functions/data.ts
  packages/workspace-core/src/lib/functions/error.spec.ts
  packages/workspace-core/src/lib/functions/error.ts
  packages/workspace-core/src/lib/functions/event.spec.ts
  packages/workspace-core/src/lib/functions/events.ts
  packages/workspace-core/src/lib/functions/index.ts
  packages/workspace-core/src/lib/types/events.ts
  packages/workspace-core/src/lib/types/types.ts
Labels: none

fix failing test
  packages/workspace-core/src/lib/functions/error.spec.ts
  packages/workspace-core/src/lib/types/types.ts
Labels: none

Workspace core V0.0.1
  package-lock.json
  packages/workspace-core/.babelrc
  packages/workspace-core/.eslintrc.json
  packages/workspace-core/README.md
  packages/workspace-core/jest.config.ts
  packages/workspace-core/package.json
  packages/workspace-core/project.json
  packages/workspace-core/src/index.ts
  packages/workspace-core/src/lib/controllers/index.ts
  packages/workspace-core/src/lib/controllers/workspaceController.spec.ts
  packages/workspace-core/src/lib/controllers/workspaceController.ts
  packages/workspace-core/src/lib/functions/addCallback.ts
  packages/workspace-core/src/lib/functions/addController.spec.ts
  packages/workspace-core/src/lib/functions/addController.ts
  packages/workspace-core/src/lib/functions/click.spec.ts
  packages/workspace-core/src/lib/functions/context.spec.ts
  packages/workspace-core/src/lib/functions/error.spec.ts
  packages/workspace-core/src/lib/functions/event.spec.ts
  packages/workspace-core/src/lib/functions/generateUniqueId.spec.ts
  packages/workspace-core/src/lib/functions/generateUniqueId.ts
  packages/workspace-core/src/lib/functions/index.ts
  packages/workspace-core/src/lib/types/callback.ts
  packages/workspace-core/src/lib/types/events.ts
  packages/workspace-core/src/lib/types/index.ts
  packages/workspace-core/src/lib/types/types.ts
  packages/workspace-core/tsconfig.json
  packages/workspace-core/tsconfig.lib.json
  packages/workspace-core/tsconfig.spec.json
  tsconfig.base.json
Labels: deps

.github/labeler.yml:

githubActions:
    - .github/**
    
docs:
    - documentation/**

filter:
    - packages/filter/**

sidesheet:
    - packages/sidesheet/**

garden:
    - packages/garden/**

ag-grid:
    - packages/ag-grid/**

data-source:
    - packages/data-source/**

power-bi:
    - packages/power-bi/**
    
deps:
    - package.json
    - package-lock.json
    
nx-config:
    - nx.json
    
jest:
  - jest.config.ts
  - jest.preset.js
