Repository equinor/fusion-workspace, pull requests merged in 2022-12, with the labels that each got.

#223 fix: :bug: remove item from url
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-core/src/lib/utils/services/selectionService.ts
  packages/workspace-fusion/src/lib/classes/fusionUrlHandler.ts
  packages/workspace-fusion/src/lib/hooks/index.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/integrations/garden/components/addGarden.tsx
  packages/workspace-fusion/src/lib/integrations/garden/utils/configureClickEvents.ts
  packages/workspace-fusion/src/lib/integrations/garden/utils/configureHighlight.ts
  packages/workspace-fusion/src/lib/integrations/grid/components/addGrid.tsx
  packages/workspace-fusion/src/lib/integrations/grid/utils/configureHighlightSelection.ts
  packages/workspace-fusion/src/lib/integrations/grid/utils/defaultColDefs.ts
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/addSidesheet.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/wrapper/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/utils/createWorkspaceConfig.ts
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.tsx
  packages/workspace-react/src/lib/classes/index.ts
  packages/workspace-react/src/lib/classes/workspaceReact.ts
  packages/workspace-react/src/lib/classes/workspaceReactMediator.ts
Labels: workspace-core, size-md, workspace-react, workspace-fusion

#227 feat: :sparkles: ag grid pagination by default
  apps/test-app/src/App.tsx
  packages/workspace-fusion/src/lib/integrations/grid/grid.ts
  packages/workspace-fusion/src/lib/integrations/grid/utils/setConfigOnController.ts
Labels: size-xs, workspace-fusion

#228 fix: :bug: collapseSubgroupsByDefault opposite
  packages/garden/src/lib/utils/createGarden.ts
Labels: garden, size-xs

#229 fix: :bug: status bar showing n/a when data undefined
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/integrations/status-bar/components/StatusBarWrapper.tsx
Labels: size-xs, workspace-fusion

#234 fix: :bug: loading default tab when query param is present
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.tsx
Labels: size-xs, workspace-fusion

#230 feat: :sparkles: divider powerbi tab
  apps/test-app/src/App.tsx
  packages/workspace-fusion/src/lib/components/Header/ActionBar.tsx
  packages/workspace-fusion/src/lib/components/Header/TabButton.tsx
  packages/workspace-fusion/src/lib/components/Header/WorkspaceHeader.tsx
  packages/workspace-fusion/src/lib/components/Header/actionBar.styles.ts
  packages/workspace-fusion/src/lib/components/Header/index.ts
  packages/workspace-fusion/src/lib/components/TabNavigation/TabNavigation.tsx
  packages/workspace-fusion/src/lib/integrations/common/components/TabNavigation.tsx
  packages/workspace-fusion/src/lib/integrations/garden/components/workspace-header/WorkspaceHeader.tsx
  packages/workspace-fusion/src/lib/integrations/grid/components/workspaceHeader/GridWorkspaceHeader.tsx
  packages/workspace-fusion/src/lib/integrations/power-bi/components/workspaceHeader/PowerBiHeader.tsx
  packages/workspace-react/src/lib/hooks/useControllerContext.ts
Labels: size-md, workspace-react, workspace-fusion

#244 docs: :memo: update readme project
  .vscode/settings.json
  README.md
Labels: size-xs

#241 chore: fix styled components dependency
  packages/ag-grid/package.json
  packages/filter/package.json
  packages/garden/package.json
  packages/power-bi/package.json
  packages/power-bi/src/lib/components/Header/Header.tsx
  packages/power-bi/src/lib/components/Header/header.styles.ts
  packages/status-bar/package.json
  packages/workspace-fusion/package.json
  packages/workspace-react/package.json
  pnpm-lock.yaml
Labels: filter, garden, size-xl, ag-grid, workspace-react, power-bi, workspace-fusion

#238 feat: support multiple sidesheets
  apps/test-app/src/App.tsx
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-core/src/lib/types/event.ts
  packages/workspace-core/src/lib/types/index.ts
  packages/workspace-core/src/lib/utils/services/eventService.ts
  packages/workspace-fusion/package.json
  packages/workspace-fusion/src/lib/classes/fusionUrlHandler.ts
  packages/workspace-fusion/src/lib/components/CustomTabWrapper.tsx
  packages/workspace-fusion/src/lib/components/NoDataSplashScreen.tsx
  packages/workspace-fusion/src/lib/components/Workspace.tsx
  packages/workspace-fusion/src/lib/components/provider/MediatorProvider.tsx
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/integrations/data-source/utils/addDataSource.ts
  packages/workspace-fusion/src/lib/integrations/data-source/utils/createFetchFunction.ts
  packages/workspace-fusion/src/lib/integrations/data-source/utils/dataSourceChanged.ts
  packages/workspace-fusion/src/lib/integrations/filter/utils/addFilter.ts
  packages/workspace-fusion/src/lib/integrations/filter/utils/configureOnDataChange.ts
  packages/workspace-fusion/src/lib/integrations/garden/components/addGarden.tsx
  packages/workspace-fusion/src/lib/integrations/garden/components/wrapper/GardenWrapper.tsx
  packages/workspace-fusion/src/lib/integrations/garden/utils/configureBookmarkService.ts
  packages/workspace-fusion/src/lib/integrations/garden/utils/configureClickEvents.ts
  packages/workspace-fusion/src/lib/integrations/garden/utils/configureDataChange.ts
  packages/workspace-fusion/src/lib/integrations/garden/utils/configureHighlight.ts
  packages/workspace-fusion/src/lib/integrations/grid/components/addGrid.tsx
  packages/workspace-fusion/src/lib/integrations/grid/components/wrapper/GridWrapper.tsx
  packages/workspace-fusion/src/lib/integrations/grid/utils/configureBookmark.ts
  packages/workspace-fusion/src/lib/integrations/grid/utils/configureDataChange.ts
  packages/workspace-fusion/src/lib/integrations/grid/utils/configureHighlightSelection.ts
  packages/workspace-fusion/src/lib/integrations/grid/utils/defaultColDefs.ts
  packages/workspace-fusion/src/lib/integrations/grid/utils/setConfigOnController.ts
  packages/workspace-fusion/src/lib/integrations/power-bi/utils/addFusionPowerBi.tsx
  packages/workspace-fusion/src/lib/integrations/power-bi/utils/addPowerBi.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/addSidesheet.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/wrapper/SidesheetAdvancedWrapper.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/wrapper/SidesheetSimpleWrapper.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/wrapper/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/wrapper/index.ts
  packages/workspace-fusion/src/lib/integrations/sidesheet/sidesheet.ts
  packages/workspace-fusion/src/lib/integrations/sidesheet/types/workspaceProps.ts
  packages/workspace-fusion/src/lib/integrations/status-bar/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/integrations/status-bar/utils/addStatusBar.tsx
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/types/event.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/types/typescriptUtils/isNeverType.ts
  packages/workspace-fusion/src/lib/types/workspaceProps.ts
  packages/workspace-fusion/src/lib/utils/context/addContext.ts
  packages/workspace-fusion/src/lib/utils/createWorkspaceConfig.ts
  packages/workspace-fusion/src/lib/utils/customTab/addCustomTab.tsx
  packages/workspace-fusion/src/lib/utils/customTab/addCustomTabs.ts
  packages/workspace-fusion/src/lib/utils/optionsChanged/didOptionsChange.ts
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.tsx
  packages/workspace-react/src/lib/classes/workspaceReactMediator.ts
  pnpm-lock.yaml
Labels: workspace-core, garden, size-xl, workspace-react, workspace-fusion

#245 Update ab-story-validation.yml
  .github/workflows/ab-story-validation.yml
Labels: size-xs, github-actions

#243 feat: :sparkles: expose set custom group by keys
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/hooks/useGardenContext.ts
  packages/garden/src/lib/types/gardenProp.ts
  packages/garden/src/lib/utils/createGardenProp.ts
Labels: garden, size-xs

#253 fix: :bug: add controller to simple sidesheet
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/wrapper/SidesheetSimpleWrapper.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/sidesheet.ts
Labels: size-xs, workspace-fusion

#252 fix: :bug: mandatory generics in sidesheet config
  packages/workspace-fusion/src/lib/integrations/sidesheet/sidesheet.ts
Labels: size-xs, workspace-fusion

#246 chore: replace reactiveValue with rxjs
  apps/test-app/package.json
  packages/garden/package.json
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/components/FilterSelector/FilterSelector.tsx
  packages/garden/src/lib/hooks/useData.ts
  packages/garden/src/lib/utils/createGarden.ts
  packages/garden/src/lib/utils/createGardenProp.ts
  packages/workspace-fusion/src/lib/integrations/garden/utils/configureDataChange.ts
  packages/workspace-react/src/lib/hooks/useControllerContext.ts
  pnpm-lock.yaml
Labels: garden, size-xl, workspace-react, workspace-fusion

#247 feat: :sparkles: add color assist mode to garden items
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/components/GardenItemContainer/GardenItemContainer.tsx
  packages/garden/src/lib/types/gardenOptions.ts
Labels: garden, size-xl, size-xs, REVIEW ME

#242 feat: :sparkles: add workspace mediator dto
  apps/test-app/src/App.tsx
  packages/workspace-fusion/src/lib/components/Workspace.tsx
  packages/workspace-fusion/src/lib/types/event.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/utils/createWorkspaceController.ts
Labels: size-xs, size-sm, workspace-fusion, REVIEW ME

#256 fix: :bug: sidesheet close
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/wrapper/SidesheetSimpleWrapper.tsx
Labels: size-xs, workspace-fusion

#259 chore: define create mode in sidesheet advanced config
  packages/workspace-fusion/src/lib/integrations/sidesheet/components/addSidesheet.tsx
  packages/workspace-fusion/src/lib/integrations/sidesheet/sidesheet.ts
Labels: size-xs, workspace-fusion

#199 ci: Definition of Done
  .github/pull_request_template.md
  .github/workflows/defDone.yml
  dod.yaml
Labels: size-xs, github-actions

#257 feat: :sparkles: Load bookmarks from url
  apps/test-app/package.json
  apps/test-app/src/App.tsx
  packages/workspace-fusion-modules/package.json
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/BookmarkModule.tsx
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/components/BookmarkLoader.tsx
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/components/HeaderIcon.tsx
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/components/LoadingWrapper.tsx
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/components/index.ts
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/hooks/index.ts
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/hooks/useApplyBookmark.ts
  packages/workspace-fusion-modules/src/lib/modules/fusionBookmarks/index.ts
  packages/workspace-fusion-modules/src/lib/modules/index.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/classes/fusionUserSettings.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/classes/index.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/index.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/indexedDbModule.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/types/payload.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/utils/sanitizePayload.ts
  packages/workspace-fusion-modules/tsconfig.json
  packages/workspace-fusion/src/index.ts
  packages/workspace-fusion/src/lib/components/index.ts
  packages/workspace-fusion/src/lib/context/WorkspaceHeaderComponents.tsx
  packages/workspace-fusion/src/lib/context/index.ts
  packages/workspace-fusion/src/lib/index.ts
  packages/workspace-fusion/src/lib/integrations/common/components/TabNavigation.tsx
  packages/workspace-fusion/src/lib/types/modules.ts
  packages/workspace-fusion/src/lib/types/workspaceProps.ts
  packages/workspace-fusion/src/lib/utils/createWorkspaceConfig.ts
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.tsx
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/contextProviders/ContextProviders.tsx
  packages/workspace-react/src/lib/index.ts
  pnpm-lock.yaml
Labels: size-xl, workspace-react, workspace-fusion, workspace-fusion-modules

#258 style: :lipstick: add cursor pointer to tab buttons
  packages/workspace-fusion/src/lib/components/Header/TabButton.tsx
Labels: size-xs, workspace-fusion
