Repository equinor/fusion-workspace, pull requests merged in 2022-09, with the labels that each got.

#56 Fusion URL handler
  package-lock.json
  package.json
  packages/test-app/src/app/app.tsx
  packages/workspace-core/src/lib/classes/observable.ts
  packages/workspace-core/src/lib/classes/selectionService.ts
  packages/workspace-core/src/lib/classes/urlHandlerService.ts
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-core/src/lib/tests/observe.spec.ts
  packages/workspace-core/src/lib/types/compare.ts
  packages/workspace-core/src/lib/types/index.ts
  packages/workspace-fusion/src/lib/classes/fusionUrlHandler.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/hooks/useMediatorContext.ts
  packages/workspace-fusion/src/lib/utils/addConfig.ts
  packages/workspace-fusion/src/lib/utils/addViewController.ts
  packages/workspace-fusion/src/lib/utils/index.ts
  packages/workspace-react/src/lib/classes/filterController.ts
  packages/workspace-react/src/lib/classes/stateController.ts
  packages/workspace-react/src/lib/classes/tabController.ts
  packages/workspace-react/src/lib/components/tabNavigation/TabNavigation.tsx
Labels: data-source, workspace-core, size-lg, size-md, deps, workspace-react, workspace-fusion

#68 tsdoc eslint rule
  .eslintrc.json
  package-lock.json
  package.json
Labels: size-md, deps

#69 add basic eslint rules
  .eslintrc.json
Labels: size-xs

#70 Improve eslint rules
  .eslintrc.json
Labels: size-sm

#77 Fix React 18 useEffect mount events
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.ts
  packages/workspace-react/src/lib/hooks/useEffectOnce.ts
  packages/workspace-react/src/lib/hooks/useMounted.ts
Labels: size-sm, workspace-react, workspace-fusion

#74 add fusion framework
  package-lock.json
  package.json
  packages/test-app/src/app/FusionApp.tsx
  packages/test-app/src/app/FusionFramework.tsx
  packages/test-app/src/app/HandoverApp.tsx
  packages/test-app/src/app/app.tsx
  packages/test-app/src/main.tsx
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
Labels: size-xl, deps, workspace-react

#75 Use function instead of keyof for identifier
  packages/ag-grid/src/lib/classes/gridController.ts
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/hooks/useHighlightedItem.ts
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/components/DefaultGardenItem/DefaultGardenItem.tsx
  packages/garden/src/lib/components/GardenItemContainer/GardenItemContainer.tsx
  packages/garden/src/lib/types/config.ts
  packages/test-app/src/app/HandoverApp.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/garden/addGarden.tsx
  packages/workspace-fusion/src/lib/utils/garden/configureClickEvents.ts
  packages/workspace-fusion/src/lib/utils/grid/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/grid/setConfigOnController.ts
Labels: garden, size-md, ag-grid, workspace-fusion

#76 Fetch controller v2
  packages/data-source/src/lib/__tests__/fetchTest.spec.ts
  packages/data-source/src/lib/classes/dataSourceController.ts
  packages/data-source/src/lib/classes/fetchController.ts
  packages/data-source/src/lib/classes/index.ts
  packages/data-source/src/lib/index.ts
  packages/data-source/src/lib/test/onDataChanged.spec.ts
  packages/data-source/src/lib/test/onError.spec.ts
  packages/data-source/src/lib/types/callback.ts
  packages/data-source/src/lib/types/events.ts
  packages/data-source/src/lib/types/fetch.ts
  packages/data-source/src/lib/types/fetchData.ts
  packages/data-source/src/lib/types/index.ts
  packages/data-source/src/lib/utils/generateUniqueId.ts
  packages/data-source/src/lib/utils/index.ts
  packages/test-app/src/app/workspaceConfig.tsx
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/types/controllers.ts
  packages/workspace-fusion/src/lib/types/index.ts
  packages/workspace-fusion/src/lib/utils/dataSource/addDataSource.ts
Labels: data-source, size-lg, size-md, workspace-fusion

#78 Fix multiple api calls
  packages/test-app/src/app/HandoverApp.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/utils/dataSource/addDataSource.ts
  packages/workspace-react/src/lib/classes/workspaceReactMediator.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
Labels: size-xs, workspace-react, workspace-fusion

#79 fix bookmark bug garden
  packages/workspace-fusion/src/lib/utils/garden/configureBookmarkService.ts
Labels: size-xs, workspace-fusion

#82 Fusion data fetch
  packages/test-app/src/app/HandoverApp.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/utils/dataSource/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/dataSource/createFetchFunction.ts
Labels: size-sm, workspace-fusion

#87 Doc/add docs
  .github/workflows/createDocs.yml
  .github/workflows/dependabot.yml
  .gitignore
  .prettierignore
  README.md
  documentation/.gitignore
  documentation/ErrorContorller.md
  documentation/FilterViewAndContorller.md
  documentation/FusionWorkspaceDiagram.md
  documentation/Readme.md
  documentation/images/logo-large.png
  documentation/images/logo.png
  documentation/package-lock.json
  documentation/package.json
  documentation/src/.vuepress/components/ModuleBadge.vue
  documentation/src/.vuepress/components/TagList.vue
  documentation/src/.vuepress/config.ts
  documentation/src/.vuepress/enhanceApp.js
  documentation/src/.vuepress/public/fusion.png
  documentation/src/.vuepress/styles/index.styl
  documentation/src/index.md
  documentation/src/packages/Readme.md
  documentation/src/packages/workspace-core/Readme.md
  documentation/src/packages/workspace-core/mediator.md
  documentation/src/packages/workspace-core/observable.md
  documentation/src/packages/workspace-core/services.md
  documentation/src/quick-start.md
  documentation/src/spec/Readme.md
  documentation/src/spec/data-source/controller.md
  documentation/src/spec/workspace-app/apps.md
  documentation/src/spec/workspace-core/controller.md
  documentation/src/spec/workspace-core/mediator.md
  documentation/src/spec/workspace-core/services.md
  documentation/src/spec/workspace-fusion/framework.md
  documentation/src/spec/workspace-react/widgets.md
  documentation/src/spec/workspace-react/wrapper.md
  documentation/src/tags.md
Labels: size-xl, docs, github-actions

#81 add filter visual
  README.md
  package-lock.json
  package.json
  packages/filter/src/lib/classes/countCache.ts
  packages/filter/src/lib/classes/filterController.ts
  packages/filter/src/lib/classes/filterStateController.ts
  packages/filter/src/lib/classes/index.ts
  packages/filter/src/lib/classes/reactFilterController.ts
  packages/filter/src/lib/components/ClickableIcon.tsx
  packages/filter/src/lib/components/Context/FilterContextProvider.tsx
  packages/filter/src/lib/components/Context/index.ts
  packages/filter/src/lib/components/Filter.tsx
  packages/filter/src/lib/components/expandedFilterGroup/ExpandedFilterGroup.tsx
  packages/filter/src/lib/components/expandedFilterGroup/expandedFilterGroup.styles.ts
  packages/filter/src/lib/components/expandedFilterItem/ExpandedFilterItem.tsx
  packages/filter/src/lib/components/filterGroup/FilterGroup.tsx
  packages/filter/src/lib/components/filterGroup/filterGroup.styles.ts
  packages/filter/src/lib/components/filterGroup/index.ts
  packages/filter/src/lib/components/filterGroupPopoverMenu/FilterGroupPopoverMenu.tsx
  packages/filter/src/lib/components/filterGroupPopoverMenu/filterGroupPopoverMenu.styles.ts
  packages/filter/src/lib/components/filterGroupPopoverMenu/index.ts
  packages/filter/src/lib/components/filterItem/FilterItemCheckbox.tsx
  packages/filter/src/lib/components/filterItem/VirtualFilterItemCheckbox.tsx
  packages/filter/src/lib/components/filterItem/filterItem.styles.ts
  packages/filter/src/lib/components/filterQuickSearch/FilterQuickSearch.tsx
  packages/filter/src/lib/components/filterQuickSearch/filterQuickSearch.styles.ts
  packages/filter/src/lib/components/filterView/FilterView.tsx
  packages/filter/src/lib/components/filterView/filterView.styles.ts
  packages/filter/src/lib/components/filtersAppliedInfo/FiltersAppliedInfo.tsx
  packages/filter/src/lib/components/filtersAppliedInfo/filtersAppliedInfo.styles.ts
  packages/filter/src/lib/components/index.ts
  packages/filter/src/lib/components/quickFilter/QuickFilter.tsx
  packages/filter/src/lib/components/quickFilter/quickFilter.styles.ts
  packages/filter/src/lib/components/searchPickerDropdown/SearchPickerDropdown.tsx
  packages/filter/src/lib/components/toggleHideFilterPopover/ToggleHideFilterPopover.tsx
  packages/filter/src/lib/components/toggleHideFilterPopover/toggleHideFilterPopover.styles.ts
  packages/filter/src/lib/components/virtualContainer/VirtualContainer.tsx
  packages/filter/src/lib/hooks/index.ts
  packages/filter/src/lib/hooks/useFilterContext.ts
  packages/filter/src/lib/hooks/useFilterGroups.ts
  packages/filter/src/lib/hooks/useFilterState.ts
  packages/filter/src/lib/hooks/useIsFilterExpanded.ts
  packages/filter/src/lib/hooks/useOnFilteredDataChanged.ts
  packages/filter/src/lib/icons/FilterClearIcon.tsx
  packages/filter/src/lib/icons/FilterCollapseIcon.tsx
  packages/filter/src/lib/icons/FilterExpandIcon.tsx
  packages/filter/src/lib/icons/index.ts
  packages/filter/src/lib/index.ts
  packages/filter/src/lib/types/sortObject.ts
  packages/filter/src/lib/utils/Switch.tsx
  packages/filter/src/lib/utils/convertFromBlank.ts
  packages/filter/src/lib/utils/getFilterHeaderText.tsx
  packages/filter/src/lib/utils/searchByvalue.ts
  packages/filter/src/lib/utils/shouldFilter.ts
  packages/test-app/src/app/HandoverApp.tsx
  packages/test-app/src/app/workspaceConfig.tsx
  packages/workspace-fusion/src/lib/utils/addFilter.tsx
  packages/workspace-react/src/lib/classes/filterController.ts
Labels: filter, size-xl, deps, workspace-react, workspace-fusion

#65 add fusion grid style
  package-lock.json
  package.json
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/test/onGridOptionsChanged.spec.ts
  packages/ag-grid/src/lib/test/onRowDataChanged.spec.ts
  packages/ag-grid/src/lib/test/registerCallback.spec.ts
  packages/workspace-fusion/src/lib/tests/highlightService.spec.ts
Labels: size-xl, ag-grid, deps, workspace-fusion

#90 fix dist folder
  packages/handover/project.json
Labels: size-xs

#91 remove ag grid hook
  package-lock.json
  package.json
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/workspace-fusion/src/lib/tests/highlightService.spec.ts
Labels: size-xl, ag-grid, deps, workspace-fusion

#92 Added UX in the checklist
  .github/pull_request_template.md
Labels: size-xs, github-actions

#95 save tab in index db
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/types/payload.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/utils/sanitizePayload.ts
Labels: size-xs, workspace-fusion-modules

#94 extend base tsconfig
  packages/handover/tsconfig.json
Labels: size-xs

#93 Release memory on unmount
  packages/ag-grid/src/lib/classes/gridController.ts
  packages/data-source/src/lib/classes/fetchController.ts
  packages/garden/src/lib/classes/gardenController.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/utils/dataSource/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/garden/addGarden.tsx
  packages/workspace-fusion/src/lib/utils/grid/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
Labels: data-source, garden, size-xs, ag-grid, workspace-react, workspace-fusion

#96 Workspace error component
  packages/handover/src/lib/components/HandoverApp.tsx
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/indexedDbModule.ts
  packages/workspace-fusion/src/lib/classes/fusionUrlHandler.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/CustomTabWrapper.tsx
  packages/workspace-fusion/src/lib/components/ErrorComponent.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/hooks/useMediatorAsState.ts
  packages/workspace-fusion/src/lib/hooks/useMediatorContext.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/types/modules.ts
  packages/workspace-fusion/src/lib/utils/addCustomTab.tsx
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/dataSource/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/dataSource/createFetchFunction.ts
  packages/workspace-fusion/src/lib/utils/filter/addFilter.ts
  packages/workspace-fusion/src/lib/utils/garden/addGarden.tsx
  packages/workspace-fusion/src/lib/utils/garden/configureBookmarkService.ts
  packages/workspace-fusion/src/lib/utils/garden/configureClickEvents.ts
  packages/workspace-fusion/src/lib/utils/garden/configureDataChange.ts
  packages/workspace-fusion/src/lib/utils/garden/configureHighlight.ts
  packages/workspace-fusion/src/lib/utils/grid/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/grid/configureBookmark.ts
  packages/workspace-fusion/src/lib/utils/grid/configureDataChange.ts
  packages/workspace-fusion/src/lib/utils/grid/configureHighlightSelection.ts
  packages/workspace-fusion/src/lib/utils/grid/defaultColDefs.ts
  packages/workspace-fusion/src/lib/utils/grid/setConfigOnController.ts
  packages/workspace-fusion/src/lib/utils/sidesheet/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/statusBar/addStatusBar.tsx
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/ErrorBoundary/WorkspaceErrorBoundary.tsx
  packages/workspace-react/src/lib/components/workspaceBody/WorkspaceBody.tsx
Labels: size-lg, workspace-react, workspace-fusion, workspace-fusion-modules

#97 docs/refine code doc
  documentation/src/.vuepress/config.ts
  documentation/src/packages/workspace-core/mediator.md
  documentation/src/packages/workspace-core/observable.md
  documentation/src/spec/workspace-core/mediator.md
  documentation/src/spec/workspace-core/services.md
  documentation/src/spec/workspace-fusion/controller.md
  packages/workspace-core/src/lib/classes/bookmarkService/bookmarkService.ts
  packages/workspace-core/src/lib/classes/clickService/clickService.ts
  packages/workspace-core/src/lib/classes/clickService/index.ts
  packages/workspace-core/src/lib/classes/dataService/dataService.ts
  packages/workspace-core/src/lib/classes/errorService/errorService.ts
  packages/workspace-core/src/lib/classes/observable.ts
  packages/workspace-core/src/lib/classes/selectionService/selectionService.ts
  packages/workspace-core/src/lib/classes/urlService/index.ts
  packages/workspace-core/src/lib/classes/urlService/urlService.ts
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
Labels: workspace-core, size-lg, docs

#57 add styling to testapp garden
  package-lock.json
  package.json
  packages/garden/src/lib/components/DefaultGardenItem/DefaultGardenItem.tsx
  packages/garden/src/lib/components/GardenItemContainer/GardenItemContainer.tsx
  packages/garden/src/lib/hooks/index.ts
  packages/garden/src/lib/hooks/useIsSelected.ts
  packages/garden/src/lib/hooks/useSelected.ts
  packages/garden/src/lib/types/config.ts
  packages/handover/src/lib/components/HandoverApp.tsx
  packages/handover/src/lib/components/Visuals/HandoverGardenItem.tsx
  packages/handover/src/lib/components/Visuals/Popover/FlagIcon.tsx
  packages/handover/src/lib/components/Visuals/Popover/PopoverContent.tsx
  packages/handover/src/lib/components/Visuals/Popover/PopoverWrapper.tsx
  packages/handover/src/lib/components/Visuals/Popover/SizeIcons.tsx
  packages/handover/src/lib/components/Visuals/Popover/popoverContent.styles.ts
  packages/handover/src/lib/components/Visuals/handoverGardenItem.styles.ts
  packages/handover/src/lib/components/gardenConfig.ts
  packages/handover/src/lib/components/workspaceConfig.tsx
  packages/handover/src/lib/fieldSettings.ts
  packages/handover/src/lib/utils.ts
  packages/workspace-fusion/src/lib/utils/garden/addGarden.tsx
Labels: data-source, garden, size-xl, deps, workspace-fusion

#102 Fix garden header
  packages/workspace-fusion/src/lib/utils/garden/addGarden.tsx
  packages/workspace-react/src/lib/components/WorkspaceHeader/WorkspaceHeader.tsx
Labels: size-xs, workspace-react, workspace-fusion

#103 add dummy portal to test app
  package-lock.json
  package.json
  packages/handover/index.html
  packages/handover/src/portal/PortalHeader.tsx
  packages/handover/src/portal/main.tsx
Labels: deps, size-sm

#104 sync active pages with controller
  packages/power-bi/src/lib/classes/powerBiController.ts
  packages/power-bi/src/lib/components/PageNavigation/PageNavigation.tsx
Labels: size-xs, power-bi

#105 opt out of loading
  packages/workspace-fusion/src/lib/utils/powerBI/addPowerBi.tsx
  packages/workspace-react/src/lib/components/workspaceDataLoader/WorkspaceDataLoader.tsx
  packages/workspace-react/src/lib/types/tab.ts
Labels: size-xs, workspace-react, workspace-fusion

#85 Only render tab navigation if more than 1 tab
  packages/workspace-react/src/lib/components/tabNavigation/TabNavigation.tsx
Labels: size-xs, workspace-react

#106 Feature/workspace styling
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/components/grid.styles.ts
  packages/filter/src/lib/components/quickFilter/quickFilter.styles.ts
  packages/garden/src/lib/components/VirtualContainer/virtualContainer.styles.ts
  packages/handover/index.css
  packages/handover/index.html
  packages/handover/src/lib/components/HandoverApp.tsx
  packages/handover/src/portal/PortalHeader.tsx
  packages/status-bar/src/lib/components/statusBar.styles.ts
  packages/workspace-fusion/src/lib/components/Header/actionBar.styles.ts
  packages/workspace-fusion/src/lib/hooks/useResizeObserver.ts
  packages/workspace-fusion/src/lib/utils/grid/addGrid.tsx
  packages/workspace-react/src/lib/components/workspaceBody/workspaceBody.styles.ts
  tsconfig.base.json
Labels: filter, garden, size-md, ag-grid, size-sm, workspace-react, workspace-fusion
