Repository equinor/fusion-workspace, pull requests merged in 2022-08, with the labels that each got.

#5 Workspace core first version
  package-lock.json
  packages/workspace-core/.babelrc
  packages/workspace-core/.eslintrc.json
  packages/workspace-core/README.md
  packages/workspace-core/jest.config.ts
  packages/workspace-core/package.json
  packages/workspace-core/project.json
  packages/workspace-core/src/index.ts
  packages/workspace-core/src/lib/controllers/index.ts
  packages/workspace-core/src/lib/controllers/workspaceController.spec.ts
  packages/workspace-core/src/lib/controllers/workspaceController.ts
  packages/workspace-core/src/lib/functions/addCallback.ts
  packages/workspace-core/src/lib/functions/addController.spec.ts
  packages/workspace-core/src/lib/functions/addController.ts
  packages/workspace-core/src/lib/functions/click.spec.ts
  packages/workspace-core/src/lib/functions/context.spec.ts
  packages/workspace-core/src/lib/functions/error.spec.ts
  packages/workspace-core/src/lib/functions/event.spec.ts
  packages/workspace-core/src/lib/functions/generateUniqueId.spec.ts
  packages/workspace-core/src/lib/functions/generateUniqueId.ts
  packages/workspace-core/src/lib/functions/index.ts
  packages/workspace-core/src/lib/types/callback.ts
  packages/workspace-core/src/lib/types/events.ts
  packages/workspace-core/src/lib/types/index.ts
  packages/workspace-core/src/lib/types/types.ts
  packages/workspace-core/tsconfig.json
  packages/workspace-core/tsconfig.lib.json
  packages/workspace-core/tsconfig.spec.json
  tsconfig.base.json
Labels: workspace-core, tests🧪, size-xl, deps

#12 Improve typing for workspace core controllers
  packages/workspace-core/src/lib/controllers/workspaceController.ts
  packages/workspace-core/src/lib/functions/addController.ts
  packages/workspace-core/src/lib/types/types.ts
Labels: size-xs

#9 Sidesheet
  packages/sidesheet/.babelrc
  packages/sidesheet/.eslintrc.json
  packages/sidesheet/README.md
  packages/sidesheet/jest.config.ts
  packages/sidesheet/project.json
  packages/sidesheet/src/index.ts
  packages/sidesheet/src/lib/classes/index.ts
  packages/sidesheet/src/lib/classes/sidesheetController.ts
  packages/sidesheet/src/lib/functions/generateUniqueId.ts
  packages/sidesheet/src/lib/functions/index.ts
  packages/sidesheet/src/lib/hooks/index.ts
  packages/sidesheet/src/lib/hooks/useSidesheet.ts
  packages/sidesheet/src/lib/hooks/useSidesheetItem.ts
  packages/sidesheet/src/lib/hooks/useSidesheetState.ts
  packages/sidesheet/src/lib/index.ts
  packages/sidesheet/src/lib/test/onItemChanges.spec.ts
  packages/sidesheet/src/lib/test/onSidesheetStateChanges.spec.ts
  packages/sidesheet/src/lib/types/callback.ts
  packages/sidesheet/src/lib/types/events.ts
  packages/sidesheet/src/lib/types/index.ts
  packages/sidesheet/src/lib/types/sidesheetState.ts
  packages/sidesheet/tsconfig.json
  packages/sidesheet/tsconfig.lib.json
  packages/sidesheet/tsconfig.spec.json
  tsconfig.base.json
Labels: size-lg, tests🧪, sidesheet

#8 AG-Grid
  package-lock.json
  package.json
  packages/ag-grid/.babelrc
  packages/ag-grid/.eslintrc.json
  packages/ag-grid/README.md
  packages/ag-grid/jest.config.ts
  packages/ag-grid/package.json
  packages/ag-grid/project.json
  packages/ag-grid/src/index.ts
  packages/ag-grid/src/lib/classes/gridController.ts
  packages/ag-grid/src/lib/classes/index.ts
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/components/index.ts
  packages/ag-grid/src/lib/functions/index.ts
  packages/ag-grid/src/lib/functions/registerCallback.ts
  packages/ag-grid/src/lib/hooks/index.ts
  packages/ag-grid/src/lib/hooks/useRowData.ts
  packages/ag-grid/src/lib/index.ts
  packages/ag-grid/src/lib/test/onGridOptionsChanged.spec.ts
  packages/ag-grid/src/lib/test/onRowDataChanged.spec.ts
  packages/ag-grid/src/lib/test/registerCallback.spec.ts
  packages/ag-grid/src/lib/types/callback.ts
  packages/ag-grid/src/lib/types/events.ts
  packages/ag-grid/src/lib/types/gridConfig.ts
  packages/ag-grid/src/lib/types/index.ts
  packages/ag-grid/tsconfig.json
  packages/ag-grid/tsconfig.lib.json
  packages/ag-grid/tsconfig.spec.json
  packages/test-app/src/app/app.tsx
  tsconfig.base.json
Labels: grid, size-lg, tests🧪, ag-grid, deps

#7 Datasource moved and refactored
  packages/data-source/.babelrc
  packages/data-source/.eslintrc.json
  packages/data-source/README.md
  packages/data-source/jest.config.ts
  packages/data-source/package.json
  packages/data-source/project.json
  packages/data-source/src/index.ts
  packages/data-source/src/lib/classes/dataSourceController.ts
  packages/data-source/src/lib/classes/index.ts
  packages/data-source/src/lib/index.ts
  packages/data-source/src/lib/test/onDataChanged.spec.ts
  packages/data-source/src/lib/test/onError.spec.ts
  packages/data-source/src/lib/types/callback.ts
  packages/data-source/src/lib/types/events.ts
  packages/data-source/src/lib/types/fetch.ts
  packages/data-source/src/lib/types/index.ts
  packages/data-source/src/lib/utils/generateUniqueId.ts
  packages/data-source/src/lib/utils/index.ts
  packages/data-source/tsconfig.json
  packages/data-source/tsconfig.lib.json
  packages/data-source/tsconfig.spec.json
  tsconfig.base.json
Labels: data-source, size-lg, tests🧪

#14 Update Contribution.md
  Contribution.md
Labels: size-xs

#13 Update pull_request_template.md
  .github/pull_request_template.md
Labels: size-xs, githubActions

#15 React workspace
  nx.json
  package-lock.json
  package.json
  packages/workspace-core/src/lib/controllers/workspaceController.ts
  packages/workspace-react/.babelrc
  packages/workspace-react/.eslintrc.json
  packages/workspace-react/README.md
  packages/workspace-react/jest.config.ts
  packages/workspace-react/package.json
  packages/workspace-react/project.json
  packages/workspace-react/src/index.ts
  packages/workspace-react/src/lib/classes/index.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/Workspace.tsx
  packages/workspace-react/src/lib/components/index.ts
  packages/workspace-react/src/lib/components/statusBar/StatusBar.tsx
  packages/workspace-react/src/lib/components/statusBar/index.ts
  packages/workspace-react/src/lib/components/tabNavigation/TabNavigation.tsx
  packages/workspace-react/src/lib/components/tabNavigation/index.ts
  packages/workspace-react/src/lib/components/workspaceBody/WorkspaceBody.tsx
  packages/workspace-react/src/lib/components/workspaceBody/index.ts
  packages/workspace-react/src/lib/components/workspaceBody/workspaceBody.styles.ts
  packages/workspace-react/src/lib/components/workspaceDataLoader/WorkspaceDataLoader.tsx
  packages/workspace-react/src/lib/components/workspaceDataLoader/index.ts
  packages/workspace-react/src/lib/components/workspaceHeader/WorkspaceHeader.tsx
  packages/workspace-react/src/lib/components/workspaceHeader/index.ts
  packages/workspace-react/src/lib/components/workspaceHeader/workspaceHeader.styles.ts
  packages/workspace-react/src/lib/components/workspaceLoadingSpinner/WorkspaceLoadingSpinner.tsx
  packages/workspace-react/src/lib/components/workspaceLoadingSpinner/index.ts
  packages/workspace-react/src/lib/components/workspaceLoadingSpinner/workspaceLoadingSpinner.styles.ts
  packages/workspace-react/src/lib/components/workspaceTab/WorkspaceTab.tsx
  packages/workspace-react/src/lib/components/workspaceTab/index.ts
  packages/workspace-react/src/lib/hooks/useEffectOnce.ts
  packages/workspace-react/src/lib/hooks/useIsLoading.ts
  packages/workspace-react/src/lib/hooks/useIsSidesheetOpen.ts
  packages/workspace-react/src/lib/index.ts
  packages/workspace-react/src/lib/test/onFilterOpenOrClosed.spec.ts
  packages/workspace-react/src/lib/test/onIsLoadingChanged.spec.ts
  packages/workspace-react/src/lib/test/onSidesheetOpenOrClosed.spec.ts
  packages/workspace-react/src/lib/types/callback.ts
  packages/workspace-react/src/lib/types/events.ts
  packages/workspace-react/src/lib/types/index.ts
  packages/workspace-react/src/lib/types/statusItem.ts
  packages/workspace-react/src/lib/types/tab.ts
  packages/workspace-react/src/lib/utils/generateUniqueId.ts
  packages/workspace-react/src/lib/utils/registerCallback.ts
  packages/workspace-react/tsconfig.json
  packages/workspace-react/tsconfig.lib.json
  packages/workspace-react/tsconfig.spec.json
  packages/workspace/README.md
  packages/workspace/project.json
  packages/workspace/src/index.ts
  packages/workspace/src/lib/workspace.spec.tsx
  packages/workspace/src/lib/workspace.tsx
  tsconfig.base.json
Labels: size-xl, deps, nx-config

#22 add workspace-core, workspace-react to labeler
  .github/labeler.yml
Labels: size-xs, github-actions

#20 Fix missing generic type in useSidesheet hook
  packages/sidesheet/src/lib/hooks/useSidesheet.ts
Labels: sidesheet, size-xs

#19 Fix grid width not being auto
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/components/grid.styles.ts
Labels: size-xs, ag-grid

#21 add resizable container to hold sidesheet component
  packages/workspace-react/src/lib/classes/workspaceSidesheetController.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/resizableSidesheet/ResizableSidesheet.tsx
  packages/workspace-react/src/lib/components/resizableSidesheet/index.ts
  packages/workspace-react/src/lib/components/resizableSidesheet/resizableSidesheet.styles.ts
  packages/workspace-react/src/lib/components/workspaceBody/WorkspaceBody.tsx
  packages/workspace-react/src/lib/components/workspaceBody/workspaceBody.styles.ts
  packages/workspace-react/src/lib/hooks/index.ts
  packages/workspace-react/src/lib/hooks/useIsSidesheetOpen.ts
  packages/workspace-react/src/lib/hooks/useSidesheetWidth.ts
  packages/workspace-react/src/lib/test/onSidesheetOpenOrClosed.spec.ts
  packages/workspace-react/src/lib/types/events.ts
Labels: size-md, workspace-react

#25 Bump NPM 8.16.0
  package-lock.json
Labels: size-xl, deps

#26 Remove react-virtual
  package-lock.json
  package.json
Labels: size-xs, deps

#24 Create ci.yml
  .github/workflows/ci.yml
Labels: size-xs, github-actions

#27 Update ci.yml
  .github/workflows/ci.yml
Labels: size-xs, github-actions

#30 add prettier action
  .github/workflows/ci.yml
  .github/workflows/prettier.yml
Labels: size-xs, github-actions

#32 Fix prettier action
  .github/workflows/prettier.yml
Labels: size-xs, github-actions

#34 add fusion configurator
  .vscode/extensions.json
  nx.json
  package-lock.json
  package.json
  packages/sidesheet/package.json
  packages/sidesheet/project.json
  packages/sidesheet/src/lib/classes/sidesheetController.ts
  packages/sidesheet/src/lib/types/events.ts
  packages/test-app/src/app/app.tsx
  packages/workspace-core/src/lib/controllers/workspaceController.spec.ts
  packages/workspace-core/src/lib/functions/addController.spec.ts
  packages/workspace-fusion/.babelrc
  packages/workspace-fusion/.eslintrc.json
  packages/workspace-fusion/README.md
  packages/workspace-fusion/jest.config.ts
  packages/workspace-fusion/package.json
  packages/workspace-fusion/project.json
  packages/workspace-fusion/src/index.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/classes/index.ts
  packages/workspace-fusion/src/lib/index.ts
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/types/controllers.ts
  packages/workspace-fusion/src/lib/types/index.ts
  packages/workspace-fusion/src/lib/types/onClick.ts
  packages/workspace-fusion/src/lib/types/tabs.ts
  packages/workspace-fusion/src/lib/utils/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/addViewController.ts
  packages/workspace-fusion/src/lib/utils/defaultColDefs.ts
  packages/workspace-fusion/src/lib/utils/index.ts
  packages/workspace-fusion/tsconfig.json
  packages/workspace-fusion/tsconfig.lib.json
  packages/workspace-fusion/tsconfig.spec.json
  tsconfig.base.json
Labels: workspace-core, size-xl, sidesheet, deps, nx-config, workspace-react

#36 add workspace-fusion to labeler
  .github/labeler.yml
Labels: size-xs, github-actions

#35 Workspace react header
  package-lock.json
  packages/status-bar/.babelrc
  packages/status-bar/.eslintrc.json
  packages/status-bar/README.md
  packages/status-bar/jest.config.ts
  packages/status-bar/package.json
  packages/status-bar/project.json
  packages/status-bar/src/index.ts
  packages/status-bar/src/lib/components/StatusBar.tsx
  packages/status-bar/src/lib/components/StatusBarItem.tsx
  packages/status-bar/src/lib/components/index.ts
  packages/status-bar/src/lib/components/statusBar.styles.ts
  packages/status-bar/src/lib/components/statusBarItem.styles.ts
  packages/status-bar/src/lib/index.ts
  packages/status-bar/src/lib/types/index.ts
  packages/status-bar/src/lib/types/statusItem.ts
  packages/status-bar/tsconfig.json
  packages/status-bar/tsconfig.lib.json
  packages/status-bar/tsconfig.spec.json
  packages/test-app/src/app/app.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/components/index.ts
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/icons/GardenIcon.tsx
  packages/workspace-fusion/src/lib/icons/GridIcon.tsx
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/types/index.ts
  packages/workspace-fusion/src/lib/utils/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/addStatusBar.tsx
  packages/workspace-fusion/src/lib/utils/addViewController.ts
  packages/workspace-fusion/src/lib/utils/defaultColDefs.ts
  packages/workspace-fusion/src/lib/utils/index.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/statusBar/StatusBar.tsx
  packages/workspace-react/src/lib/components/tabNavigation/TabNavigation.tsx
  packages/workspace-react/src/lib/components/tabNavigation/tabNavigation.styles.ts
  packages/workspace-react/src/lib/components/workspaceBody/workspaceBody.styles.ts
  packages/workspace-react/src/lib/components/workspaceHeader/WorkspaceHeader.tsx
  packages/workspace-react/src/lib/components/workspaceHeader/workspaceHeader.styles.ts
  packages/workspace-react/src/lib/components/workspaceTab/WorkspaceTab.tsx
  packages/workspace-react/src/lib/hooks/index.ts
  packages/workspace-react/src/lib/hooks/useActiveTab.ts
  packages/workspace-react/src/lib/types/index.ts
  packages/workspace-react/src/lib/types/tab.ts
  tsconfig.base.json
Labels: size-md, size-xl, deps, workspace-react, workspace-fusion

#37 add min length 1 to status bar and grid array args
  packages/workspace-fusion/src/lib/types/configuration.ts
Labels: size-xs, workspace-fusion

#38 add sidesheet header
  packages/test-app/src/app/app.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/Header.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/header.styles.ts
  packages/workspace-fusion/src/lib/components/Sidesheet/index.ts
  packages/workspace-fusion/src/lib/components/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/components/index.ts
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/utils/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/addStatusBar.tsx
  packages/workspace-fusion/src/lib/utils/addViewController.ts
  packages/workspace-fusion/src/lib/utils/defaultColDefs.ts
Labels: size-md, workspace-fusion

#39 add support for custom tabs in workspace-fusion
  packages/test-app/src/app/app.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/CustomTabWrapper.tsx
  packages/workspace-fusion/src/lib/components/index.ts
  packages/workspace-fusion/src/lib/hooks/index.ts
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/utils/addCustomTab.tsx
  packages/workspace-fusion/src/lib/utils/index.ts
Labels: size-sm, workspace-fusion

#40 add appkey to header of workspace
  packages/test-app/src/app/app.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/utils/addViewController.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/ActionBar/ActionBar.tsx
  packages/workspace-react/src/lib/components/ActionBar/actionBar.styles.ts
  packages/workspace-react/src/lib/components/ActionBar/index.ts
  packages/workspace-react/src/lib/components/AppNameHeader/AppNameHeader.tsx
  packages/workspace-react/src/lib/components/AppNameHeader/appNameHeader.styles.ts
  packages/workspace-react/src/lib/components/AppNameHeader/index.ts
  packages/workspace-react/src/lib/components/workspaceHeader/WorkspaceHeader.tsx
Labels: size-sm, workspace-react, workspace-fusion

#42 Improve fusion app setup
  packages/test-app/src/app/app.tsx
  packages/test-app/src/app/mockData.ts
  packages/test-app/src/app/types.ts
  packages/test-app/src/app/workspaceConfig.tsx
  packages/workspace-fusion/src/lib/index.ts
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/index.ts
Labels: size-lg, workspace-fusion

#41 Garden controller
  package-lock.json
  packages/garden/.babelrc
  packages/garden/.eslintrc.json
  packages/garden/package.json
  packages/garden/project.json
  packages/garden/src/lib/Readme.md
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/classes/index.ts
  packages/garden/src/lib/classes/reactiveValue.ts
  packages/garden/src/lib/hooks/useData.ts
  packages/garden/src/lib/hooks/useReactiveValue.ts
  packages/garden/src/lib/index.ts
  packages/garden/src/lib/test/dataChanges.spec.ts
  packages/garden/src/lib/test/groupingKeys.spec.ts
  packages/garden/src/lib/test/mockGarden.ts
  packages/garden/src/lib/test/nodeHighlight.spec.ts
  packages/garden/src/lib/test/updateCustomState.spec.ts
  packages/garden/src/lib/types/callbacks.ts
  packages/garden/src/lib/types/config.ts
  packages/garden/src/lib/types/customGeneric.ts
  packages/garden/src/lib/types/events.ts
  packages/garden/src/lib/types/fieldSettings.ts
  packages/garden/src/lib/types/gardenGroup.ts
  packages/garden/src/lib/types/gardenItem.ts
  packages/garden/src/lib/types/gardenOptions.ts
  packages/garden/src/lib/types/highlightedNode.ts
  packages/garden/src/lib/types/index.ts
  packages/garden/src/lib/types/keys.ts
  packages/garden/src/lib/types/visuals.ts
  packages/garden/src/lib/utils/createGarden.ts
  packages/garden/src/lib/utils/defaultItemColor.ts
  packages/garden/src/lib/utils/groupBy.ts
  packages/garden/src/lib/utils/index.ts
  packages/garden/tsconfig.json
  packages/garden/tsconfig.lib.json
  packages/garden/tsconfig.spec.json
  tsconfig.base.json
Labels: garden, tests🧪, size-xl, deps

#43 Workspace core v.0.0.2
  package-lock.json
  packages/data-source/src/lib/classes/dataSourceController.ts
  packages/workspace-core/src/index.ts
  packages/workspace-core/src/lib/classes/index.ts
  packages/workspace-core/src/lib/classes/observable.ts
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-core/src/lib/controllers/index.ts
  packages/workspace-core/src/lib/controllers/workspaceController.spec.ts
  packages/workspace-core/src/lib/controllers/workspaceController.ts
  packages/workspace-core/src/lib/functions/addCallback.ts
  packages/workspace-core/src/lib/functions/addController.spec.ts
  packages/workspace-core/src/lib/functions/addController.ts
  packages/workspace-core/src/lib/functions/click.spec.ts
  packages/workspace-core/src/lib/functions/context.spec.ts
  packages/workspace-core/src/lib/functions/error.spec.ts
  packages/workspace-core/src/lib/functions/event.spec.ts
  packages/workspace-core/src/lib/functions/generateUniqueId.spec.ts
  packages/workspace-core/src/lib/functions/generateUniqueId.ts
  packages/workspace-core/src/lib/functions/index.ts
  packages/workspace-core/src/lib/index.ts
  packages/workspace-core/src/lib/tests/observe.spec.ts
  packages/workspace-core/src/lib/types/callback.ts
  packages/workspace-core/src/lib/types/events.ts
  packages/workspace-core/src/lib/types/index.ts
  packages/workspace-core/src/lib/types/objectType.ts
  packages/workspace-core/src/lib/types/types.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/CustomTabWrapper.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/hooks/useError.ts
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/utils/addCustomTab.tsx
  packages/workspace-fusion/src/lib/utils/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/addStatusBar.tsx
  packages/workspace-fusion/src/lib/utils/addViewController.ts
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/defaultColDefs.ts
  packages/workspace-fusion/src/lib/utils/index.ts
Labels: data-source, workspace-core, size-xl, deps, workspace-fusion

#47 workspace react mediator rewrite
  packages/test-app/src/app/app.tsx
  packages/test-app/src/app/workspaceConfig.tsx
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/CustomTabWrapper.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/utils/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/defaultColDefs.ts
  packages/workspace-react/project.json
  packages/workspace-react/src/lib/classes/index.ts
  packages/workspace-react/src/lib/classes/workspaceReactMediator.ts
  packages/workspace-react/src/lib/classes/workspaceSidesheetController.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/Workspace.tsx
  packages/workspace-react/src/lib/components/resizableSidesheet/ResizableSidesheet.tsx
  packages/workspace-react/src/lib/components/resizableSidesheet/SidesheetHeader.tsx
  packages/workspace-react/src/lib/components/resizableSidesheet/sidesheetHeader.styles.ts
  packages/workspace-react/src/lib/hooks/index.ts
  packages/workspace-react/src/lib/hooks/useMounted.ts
  packages/workspace-react/src/lib/hooks/useSidesheetTitle.ts
Labels: workspace-core, size-lg, size-md, workspace-react, workspace-fusion

#51 add legacy peer deps to fix react-virtual
  .github/workflows/ci.yml
Labels: size-xs, github-actions

#50 Garden component
  package-lock.json
  package.json
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/components/DefaultGardenItem/DefaultGardenItem.tsx
  packages/garden/src/lib/components/DefaultGardenItem/defaultGardenItem.styles.ts
  packages/garden/src/lib/components/DefaultGardenItem/index.ts
  packages/garden/src/lib/components/ExpandProvider/ExpandProvider.tsx
  packages/garden/src/lib/components/ExpandProvider/index.ts
  packages/garden/src/lib/components/FilterSelector/FilterSelector.tsx
  packages/garden/src/lib/components/FilterSelector/filterSelector.styles.ts
  packages/garden/src/lib/components/FilterSelector/index.ts
  packages/garden/src/lib/components/Garden.tsx
  packages/garden/src/lib/components/GardenItemContainer/GardenItemContainer.tsx
  packages/garden/src/lib/components/GardenItemContainer/gardenItemContainer.styles.ts
  packages/garden/src/lib/components/GardenItemContainer/index.ts
  packages/garden/src/lib/components/HeaderContainer/HeaderContainer.tsx
  packages/garden/src/lib/components/HeaderContainer/headerContainer.styles.ts
  packages/garden/src/lib/components/HeaderContainer/index.ts
  packages/garden/src/lib/components/Layout/Layout.tsx
  packages/garden/src/lib/components/Layout/index.ts
  packages/garden/src/lib/components/Layout/layout.styles.ts
  packages/garden/src/lib/components/SubGroup/index.ts
  packages/garden/src/lib/components/SubGroup/subGroup.styles.ts
  packages/garden/src/lib/components/VirtualContainer/VirtualContainer.tsx
  packages/garden/src/lib/components/VirtualContainer/index.ts
  packages/garden/src/lib/components/VirtualContainer/virtualContainer.styles.ts
  packages/garden/src/lib/components/VirtualGarden/VirtualGarden.tsx
  packages/garden/src/lib/components/VirtualGarden/index.ts
  packages/garden/src/lib/components/index.ts
  packages/garden/src/lib/hooks/index.ts
  packages/garden/src/lib/hooks/useExpand.ts
  packages/garden/src/lib/hooks/useGardenContext.ts
  packages/garden/src/lib/hooks/useGardenGroups.ts
  packages/garden/src/lib/hooks/useGroupingKeys.ts
  packages/garden/src/lib/hooks/useItemWidths.ts
  packages/garden/src/lib/hooks/useRefresh.ts
  packages/garden/src/lib/hooks/useVirtualScrolling.ts
  packages/garden/src/lib/index.ts
  packages/garden/src/lib/types/gardenOptions.ts
  packages/garden/src/lib/types/visuals.ts
  packages/garden/src/lib/utils/defaultSortFunction.ts
  packages/garden/src/lib/utils/getDescriptionWidth.ts
  packages/garden/src/lib/utils/getGardenItems.ts
  packages/garden/src/lib/utils/getRowCount.ts
  packages/garden/src/lib/utils/index.ts
  packages/garden/src/lib/utils/isSubGroup.ts
  packages/garden/src/lib/utils/timeout.ts
  packages/test-app/src/app/app.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
Labels: garden, size-xl, deps, workspace-fusion

#53 add fusion tab sorting
  packages/test-app/src/app/app.tsx
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/fusionTabOrder.ts
Labels: size-xs, size-sm, workspace-fusion

#54 add mediator context
  packages/test-app/src/app/workspaceConfig.tsx
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/CustomTabWrapper.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/components/provider/MediatorProvider.tsx
  packages/workspace-fusion/src/lib/components/provider/index.ts
  packages/workspace-fusion/src/lib/hooks/index.ts
  packages/workspace-fusion/src/lib/hooks/useError.ts
  packages/workspace-fusion/src/lib/hooks/useMediatorAsState.ts
  packages/workspace-fusion/src/lib/hooks/useMediatorContext.ts
  packages/workspace-fusion/src/lib/index.ts
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/utils/addCustomTab.tsx
  packages/workspace-fusion/src/lib/utils/addStatusBar.tsx
Labels: size-md, workspace-fusion

#52 Highlighted node service
  packages/ag-grid/src/lib/classes/gridController.ts
  packages/ag-grid/src/lib/classes/observable.ts
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/hooks/index.ts
  packages/ag-grid/src/lib/hooks/useHighlightedItem.ts
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/components/DefaultGardenItem/DefaultGardenItem.tsx
  packages/garden/src/lib/components/GardenItemContainer/GardenItemContainer.tsx
  packages/garden/src/lib/components/HeaderContainer/HeaderContainer.tsx
  packages/garden/src/lib/components/VirtualGarden/VirtualGarden.tsx
  packages/garden/src/lib/hooks/index.ts
  packages/garden/src/lib/hooks/useIsSelected.ts
  packages/garden/src/lib/test/nodeHighlight.spec.ts
  packages/test-app/src/app/app.tsx
  packages/test-app/src/app/mockData.ts
  packages/workspace-core/src/lib/classes/selectionService.ts
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-core/src/lib/tests/selection.spec.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/tests/highlightService.spec.ts
  packages/workspace-fusion/src/lib/utils/addGarden.tsx
  packages/workspace-fusion/src/lib/utils/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/index.ts
Labels: workspace-core, garden, size-lg, tests🧪, ag-grid, workspace-react, workspace-fusion

#48 Add workspace context, and rename interfaces
  packages/test-app/src/app/app.tsx
  packages/test-app/src/app/mockData.ts
  packages/test-app/src/app/types.ts
  packages/test-app/src/app/workspaceConfig.tsx
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/CustomTabWrapper.tsx
  packages/workspace-fusion/src/lib/components/Sidesheet/SidesheetWrapper.tsx
  packages/workspace-fusion/src/lib/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/components/provider/MediatorProvider.tsx
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/hooks/useMediatorAsState.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/types/fusionController.ts
  packages/workspace-fusion/src/lib/utils/addCustomTab.tsx
  packages/workspace-fusion/src/lib/utils/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/addGarden.tsx
  packages/workspace-fusion/src/lib/utils/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/addStatusBar.tsx
  packages/workspace-fusion/src/lib/utils/createFusionWorkspace.tsx
  packages/workspace-fusion/src/lib/utils/defaultColDefs.ts
  packages/workspace-fusion/src/lib/utils/fusionTabOrder.ts
  packages/workspace-react/src/lib/classes/filterController.ts
  packages/workspace-react/src/lib/classes/index.ts
  packages/workspace-react/src/lib/classes/stateController.ts
  packages/workspace-react/src/lib/classes/tabController.ts
  packages/workspace-react/src/lib/classes/workspaceReact.ts
  packages/workspace-react/src/lib/classes/workspaceReactMediator.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  packages/workspace-react/src/lib/components/ActionBar/ActionBar.tsx
  packages/workspace-react/src/lib/components/AppNameHeader/AppNameHeader.tsx
  packages/workspace-react/src/lib/components/ContextProvider.tsx
  packages/workspace-react/src/lib/components/Workspace.tsx
  packages/workspace-react/src/lib/components/resizableSidesheet/ResizableSidesheet.tsx
  packages/workspace-react/src/lib/components/tabNavigation/TabNavigation.tsx
  packages/workspace-react/src/lib/components/workspaceBody/WorkspaceBody.tsx
  packages/workspace-react/src/lib/components/workspaceDataLoader/WorkspaceDataLoader.tsx
  packages/workspace-react/src/lib/components/workspaceHeader/WorkspaceHeader.tsx
  packages/workspace-react/src/lib/components/workspaceTab/WorkspaceTab.tsx
  packages/workspace-react/src/lib/context/controllerContext.ts
  packages/workspace-react/src/lib/context/index.ts
  packages/workspace-react/src/lib/hooks/index.ts
  packages/workspace-react/src/lib/hooks/useActiveTab.ts
  packages/workspace-react/src/lib/hooks/useControllerContext.ts
  packages/workspace-react/src/lib/hooks/useIsLoading.ts
  packages/workspace-react/src/lib/hooks/useIsSidesheetOpen.ts
  packages/workspace-react/src/lib/hooks/useMounted.ts
  packages/workspace-react/src/lib/hooks/useSidesheetTitle.ts
  packages/workspace-react/src/lib/hooks/useSidesheetWidth.ts
  packages/workspace-react/src/lib/test/onFilterOpenOrClosed.spec.ts
  packages/workspace-react/src/lib/test/onIsLoadingChanged.spec.ts
  packages/workspace-react/src/lib/test/onSidesheetOpenOrClosed.spec.ts
  packages/workspace-react/src/lib/types/events.ts
Labels: workspace-core, size-lg, size-md, size-xl, workspace-react, workspace-fusion

#55 add test app config
  packages/test-app/src/app/app.tsx
Labels: size-xs

#59 add testapp sidesheet
  packages/test-app/src/app/HandoverSidesheet/DetailsTab.tsx
  packages/test-app/src/app/HandoverSidesheet/HandoverSidesheet.tsx
  packages/test-app/src/app/app.tsx
  packages/test-app/src/app/workspaceConfig.tsx
Labels: size-md

#58 Table config testapp
  packages/test-app/src/app/workspaceConfig.tsx
Labels: size-xs

#60 fix loading spinner in fusion workspace view
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
Labels: size-xs, workspace-fusion

#62 fix failing test datasource
  packages/data-source/src/lib/test/onDataChanged.spec.ts
Labels: data-source, size-xs

#63 Change status bar config
  packages/test-app/src/app/app.tsx
  packages/test-app/src/app/workspaceConfig.tsx
  packages/workspace-fusion/src/lib/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/types/configuration.ts
Labels: size-xs, workspace-fusion
