Repository equinor/fusion-workspace, pull requests merged in 2022-10, with the labels that each got.

#115 [Eslint] Prefer types rule
  .eslintrc.json
Labels: size-xs

#114 rxjs grid controller
  .eslintrc.json
  package-lock.json
  package.json
  packages/ag-grid/src/lib/classes/gridController.ts
  packages/ag-grid/src/lib/classes/index.ts
  packages/ag-grid/src/lib/classes/observable.ts
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/functions/index.ts
  packages/ag-grid/src/lib/functions/registerCallback.ts
  packages/ag-grid/src/lib/hooks/useColumnState.ts
  packages/ag-grid/src/lib/hooks/useHighlightedItem.ts
  packages/ag-grid/src/lib/hooks/useRowData.ts
  packages/ag-grid/src/lib/index.ts
  packages/ag-grid/src/lib/test/onGridOptionsChanged.spec.ts
  packages/ag-grid/src/lib/test/onRowDataChanged.spec.ts
  packages/ag-grid/src/lib/test/registerCallback.spec.ts
  packages/ag-grid/src/lib/types/callback.ts
  packages/ag-grid/src/lib/types/events.ts
  packages/ag-grid/src/lib/types/gridController.ts
  packages/ag-grid/src/lib/types/index.ts
  packages/ag-grid/src/lib/utils/columnState.ts
  packages/ag-grid/src/lib/utils/createGridController.ts
  packages/ag-grid/src/lib/utils/index.ts
  packages/handover/vite.config.ts
  packages/observable-proxy/.babelrc
  packages/observable-proxy/.eslintrc.json
  packages/observable-proxy/README.md
  packages/observable-proxy/jest.config.ts
  packages/observable-proxy/package.json
  packages/observable-proxy/project.json
  packages/observable-proxy/src/index.ts
  packages/observable-proxy/src/lib/__tests__/observableProxy.spec.ts
  packages/observable-proxy/src/lib/createObservableProxy.ts
  packages/observable-proxy/src/lib/index.ts
  packages/observable-proxy/src/lib/types/index.ts
  packages/observable-proxy/src/lib/types/subscriberProxy.ts
  packages/observable-proxy/tsconfig.json
  packages/observable-proxy/tsconfig.lib.json
  packages/observable-proxy/tsconfig.spec.json
  packages/workspace-fusion/src/lib/tests/highlightService.spec.ts
  packages/workspace-fusion/src/lib/utils/grid/GridWorkspaceHeader/GridWorkspaceHeader.tsx
  packages/workspace-fusion/src/lib/utils/grid/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/grid/configureBookmark.ts
  packages/workspace-fusion/src/lib/utils/grid/configureDataChange.ts
  packages/workspace-fusion/src/lib/utils/grid/configureHighlightSelection.ts
  packages/workspace-fusion/src/lib/utils/grid/setConfigOnController.ts
  packages/workspace-fusion/src/lib/utils/grid/snapShotGridState.ts
  tsconfig.base.json
Labels: data-source, size-xl, ag-grid, deps, workspace-fusion

#100 Validate Azure Board Story ID
  .github/workflows/ab-story-validation.yml
Labels: size-xs, github-actions

#116 workspace-core-rxjs-conversion
  documentation/src/packages/workspace-core/observable.md
  documentation/src/packages/workspace-core/services.md
  packages/workspace-core/src/lib/classes/clickService/clickService.ts
  packages/workspace-core/src/lib/classes/clickService/index.ts
  packages/workspace-core/src/lib/classes/dataService/dataService.ts
  packages/workspace-core/src/lib/classes/dataService/index.ts
  packages/workspace-core/src/lib/classes/errorService/errorService.ts
  packages/workspace-core/src/lib/classes/errorService/index.ts
  packages/workspace-core/src/lib/classes/index.ts
  packages/workspace-core/src/lib/classes/selectionService/index.ts
  packages/workspace-core/src/lib/classes/selectionService/selectionService.ts
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-core/src/lib/tests/selection.spec.ts
  packages/workspace-core/src/lib/utils/index.ts
  packages/workspace-core/src/lib/utils/services/clickService.ts
  packages/workspace-core/src/lib/utils/services/dataService.ts
  packages/workspace-core/src/lib/utils/services/errorService.ts
  packages/workspace-core/src/lib/utils/services/index.ts
  packages/workspace-core/src/lib/utils/services/selectionService.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/hooks/useFilteredData.ts
  packages/workspace-fusion/src/lib/hooks/useOnClick.ts
  packages/workspace-fusion/src/lib/tests/highlightService.spec.ts
  packages/workspace-fusion/src/lib/utils/dataSource/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/filter/addFilter.ts
  packages/workspace-fusion/src/lib/utils/filter/configureOnDataChange.ts
  packages/workspace-fusion/src/lib/utils/garden/configureClickEvents.ts
  packages/workspace-fusion/src/lib/utils/garden/configureDataChange.ts
  packages/workspace-fusion/src/lib/utils/garden/configureHighlight.ts
  packages/workspace-fusion/src/lib/utils/grid/configureDataChange.ts
  packages/workspace-fusion/src/lib/utils/grid/configureHighlightSelection.ts
  packages/workspace-fusion/src/lib/utils/sidesheet/addSidesheet.tsx
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.ts
Labels: workspace-core, size-lg, size-md, docs, workspace-fusion

#120 fix referential unstability
  packages/ag-grid/src/lib/hooks/useColumnState.ts
Labels: size-xs, ag-grid

#119 rxjs bookmarks service
  packages/handover/src/lib/components/HandoverApp.tsx
  packages/workspace-core/src/lib/classes/bookmarkService/bookmarkService.ts
  packages/workspace-core/src/lib/classes/bookmarkService/index.ts
  packages/workspace-core/src/lib/classes/workspaceMediator.ts
  packages/workspace-core/src/lib/tests/bookmarkService.spec.ts
  packages/workspace-core/src/lib/utils/services/bookmarkService.ts
  packages/workspace-core/src/lib/utils/services/index.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/indexedDbModule.ts
  packages/workspace-fusion/src/lib/utils/garden/configureBookmarkService.ts
  packages/workspace-fusion/src/lib/utils/grid/configureBookmark.ts
  packages/workspace-fusion/src/lib/utils/viewController/addViewController.ts
Labels: workspace-core, size-md, workspace-fusion, workspace-fusion-modules

#122 create react grid
  packages/ag-grid/src/index.ts
  packages/ag-grid/src/lib/components/Grid.tsx
  packages/ag-grid/src/lib/components/ReactGrid.tsx
  packages/ag-grid/src/lib/components/index.ts
  packages/ag-grid/src/lib/types/gridConfig.ts
  packages/ag-grid/src/lib/types/index.ts
Labels: size-xs, ag-grid, size-sm

#126 Add husky and lerna
  commitlint.config.js
  lerna.json
  package-lock.json
  package.json
Labels: size-xl, deps

#129 Bump NX versions
  package-lock.json
  package.json
Labels: size-xl, deps

#130 Update pull_request_template.md
  .github/pull_request_template.md
Labels: size-xs, github-actions

#124 Grid storybook
  .github/workflows/ci.yml
  .storybook/main.js
  .storybook/tsconfig.json
  documentation/package-lock.json
  documentation/yarn.lock
  nx.json
  package-lock.json
  package.json
  packages/ag-grid/.storybook/main.js
  packages/ag-grid/.storybook/preview.js
  packages/ag-grid/.storybook/tsconfig.json
  packages/ag-grid/project.json
  packages/ag-grid/stories/ReactGrid.stories.tsx
  packages/ag-grid/stories/gridData.ts
  packages/ag-grid/tsconfig.json
  packages/ag-grid/tsconfig.lib.json
  tsconfig.base.json
Labels: size-xl, docs, ag-grid, deps, nx-config, github-actions

#132 Fix package names
  package-lock.json
  packages/ag-grid/src/lib/types/gridController.ts
  packages/ag-grid/src/lib/utils/createGridController.ts
  packages/data-source/package.json
  packages/data-source/src/lib/classes/fetchController.ts
  packages/filter/package.json
  packages/garden/package.json
  packages/handover/src/lib/components/Visuals/HandoverGardenItem.tsx
  packages/handover/src/lib/components/gardenConfig.ts
  packages/handover/src/lib/components/workspaceConfig.tsx
  packages/handover/src/lib/fieldSettings.ts
  packages/handover/vite.config.ts
  packages/observable-proxy/package.json
  packages/power-bi/package.json
  packages/sidesheet/package.json
  packages/status-bar/package.json
  packages/workspace-core/src/lib/utils/services/dataService.ts
  packages/workspace-core/src/lib/utils/services/selectionService.ts
  packages/workspace-core/src/lib/utils/services/urlService.ts
  packages/workspace-fusion-modules/src/lib/modules/indexedDbModule/types/payload.ts
  packages/workspace-fusion/src/lib/classes/fusionWorkspaceBuilder.tsx
  packages/workspace-fusion/src/lib/components/Header/PowerBiHeader.tsx
  packages/workspace-fusion/src/lib/components/Header/WorkspaceHeader.tsx
  packages/workspace-fusion/src/lib/components/StatusBarWrapper.tsx
  packages/workspace-fusion/src/lib/tests/highlightService.spec.ts
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/types/fusionBookmark.ts
  packages/workspace-fusion/src/lib/utils/dataSource/addDataSource.ts
  packages/workspace-fusion/src/lib/utils/dataSource/createFetchFunction.ts
  packages/workspace-fusion/src/lib/utils/filter/addFilter.ts
  packages/workspace-fusion/src/lib/utils/filter/addFilterContext.tsx
  packages/workspace-fusion/src/lib/utils/filter/configureOnDataChange.ts
  packages/workspace-fusion/src/lib/utils/garden/addGarden.tsx
  packages/workspace-fusion/src/lib/utils/garden/configureBookmarkService.ts
  packages/workspace-fusion/src/lib/utils/garden/configureClickEvents.ts
  packages/workspace-fusion/src/lib/utils/garden/configureDataChange.ts
  packages/workspace-fusion/src/lib/utils/garden/configureHighlight.ts
  packages/workspace-fusion/src/lib/utils/garden/gardenWorkspaceHeader/GardenWorkspaceHeader.tsx
  packages/workspace-fusion/src/lib/utils/grid/GridWorkspaceHeader/GridWorkspaceHeader.tsx
  packages/workspace-fusion/src/lib/utils/grid/addGrid.tsx
  packages/workspace-fusion/src/lib/utils/grid/configureBookmark.ts
  packages/workspace-fusion/src/lib/utils/grid/configureDataChange.ts
  packages/workspace-fusion/src/lib/utils/grid/configureHighlightSelection.ts
  packages/workspace-fusion/src/lib/utils/grid/setConfigOnController.ts
  packages/workspace-fusion/src/lib/utils/grid/snapShotGridState.ts
  packages/workspace-fusion/src/lib/utils/powerBI/FusionPowerBIFilter.tsx
  packages/workspace-fusion/src/lib/utils/powerBI/addPowerBi.tsx
  packages/workspace-fusion/src/lib/utils/sidesheet/addSidesheet.tsx
  packages/workspace-react/src/lib/classes/stateController.ts
  packages/workspace-react/src/lib/classes/tabController.ts
  packages/workspace-react/src/lib/classes/workspaceReactMediator.ts
  packages/workspace-react/src/lib/classes/workspaceSidesheetController.ts
  packages/workspace-react/src/lib/classes/workspaceViewController.ts
  tsconfig.base.json
Labels: data-source, workspace-core, filter, garden, size-lg, size-md, sidesheet, ag-grid, deps, workspace-react, power-bi, workspace-fusion, workspace-fusion-modules

#134 feat: :sparkles: add tabs based on async predicate
  packages/handover/src/lib/components/HandoverApp.tsx
  packages/workspace-fusion/src/lib/types/configuration.ts
  packages/workspace-fusion/src/lib/utils/addCustomTab.tsx
Labels: size-xs, workspace-fusion

#139 chore(garden): update generic types on fieldsettings type
  packages/garden/src/lib/classes/gardenController.ts
  packages/garden/src/lib/types/config.ts
  packages/garden/src/lib/types/fieldSettings.ts
  packages/garden/src/lib/utils/groupBy.ts
Labels: garden, size-xs
