Repository equinor/fusion-workspace, pull requests merged in 2023-03, with the labels that each got.

#339 feat: add default darkmode to docs
  documentation/src/components/HeadCommon.astro
Labels: size-xs, docs

#345 chore: add modules documentation
  documentation/src/consts.ts
  documentation/src/content/docs/config/modules-options.md
Labels: docs, size-sm

#349 feat: add error boundary
  packages/workspace-fusion/src/lib/components/Workspace.tsx
  packages/workspace-fusion/src/lib/components/error/WorkspaceBoundary.tsx
  packages/workspace-fusion/src/lib/components/error/WorkspaceError.tsx
  packages/workspace-fusion/src/lib/components/error/index.ts
  packages/workspace-fusion/src/lib/utils/createWorkspaceConfig.ts
Labels: size-sm, workspace-fusion

#352 chore: downgrade ag-grid to 28.2.1
  packages/ag-grid/package.json
  pnpm-lock.yaml
Labels: size-xl, size-xs, ag-grid

#356 build: add .npmrc
  .npmrc
  packages/ag-grid/package.json
  packages/filter/package.json
  packages/garden/package.json
  packages/observable-proxy/package.json
  packages/power-bi/package.json
  packages/sidesheet/package.json
  packages/status-bar/package.json
  packages/workspace-core/package.json
  packages/workspace-dynamic/package.json
  packages/workspace-fusion-modules/package.json
  packages/workspace-fusion/package.json
  packages/workspace-fusion/src/lib/components/error/index.ts
  packages/workspace-fusion/src/lib/utils/createWorkspaceConfig.ts
  packages/workspace-fusion/src/modules/garden/components/utils/configureBookmarkService.ts
  packages/workspace-fusion/src/modules/garden/components/utils/configureClickEvents.ts
  packages/workspace-fusion/src/modules/garden/components/utils/configureDataChange.ts
  packages/workspace-fusion/src/modules/garden/components/utils/configureHighlight.ts
  packages/workspace-fusion/src/modules/garden/icons/GardenIcon.tsx
  packages/workspace-fusion/src/modules/garden/index.tsx
  packages/workspace-fusion/src/modules/grid/index.tsx
  packages/workspace-fusion/src/modules/power-bi/index.tsx
  packages/workspace-react/package.json
  pnpm-lock.yaml
Labels: workspace-core, filter, garden, size-lg, sidesheet, ag-grid, workspace-react, power-bi, workspace-fusion, workspace-fusion-modules

#357 feat: :sparkles: show groupname header ag grid
  packages/ag-grid/src/lib/components/Grid.tsx
Labels: size-xs, ag-grid

#358 Fix/dep array
  packages/workspace-fusion/src/lib/classes/fusionUrlHandler.tsx
  packages/workspace-fusion/src/lib/components/Workspace.tsx
Labels: size-xs, workspace-fusion

#359 build: convert from lerna to changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  babel.config.json
  commitlint.config.js
  lerna.json
  package.json
  pnpm-lock.yaml
Labels: size-xl, deps, github-actions
